<div class="modal" id="modalEligible" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Check Eligibility</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="forms-sample" id="formEligible">
            <div class="form-group">
              <label for="mySalary" style="font-size: large;">Amount</label>
              <input type="number" class="form-control" id="mySalary" placeholder="1000" min="1"style="font-size: 20px;" required>
            </div>
            <div class="form-group">
              <label for="myCreditscore" style="font-size: large;">Credit Score</label>
              <input type="number" class="form-control" id="myCreditscore" placeholder="creditScore" min="300" max="850" style="font-size: 20px;" required>
            </div><br>
            <button type="submit" class="btn btn-primary me-2" style="font-size: 15px;">Submit</button>
          </form>
        </div>
        <div class="modal-footer"> </div>
      </div>
    </div>
  </div>